.menuButton {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
    .menuButton {
        background-color: rgba(40, 40, 40, 0.9);
        color: #fff;
    }
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    color: #000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1002;
    padding: 20px;
    transform: translateX(-100%);
    transition:
        transform 0.3s ease-in-out,
        background-color 0.3s ease,
        color 0.3s ease;
    overflow-y: auto;
    touch-action: none; /* Prevents pinch-zoom and double-tap zoom */
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    .drawer {
        background-color: #1e1e1e;
        color: #fff;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    }
}

.drawer.drawerOpen {
    transform: translateX(0);
}

.drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.optionCheckbox {
    margin-left: 16px;
    margin-top: 8px;
    padding: 4px 8px;
    border: 1px solid lightgray;
    border-radius: 10px;
    /* background-color: lightblue; Change this as needed */
    /* color: black; Change this as needed */
}
